name: Site

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]
  pull_request:
    paths:
      - ".github/workflows/site.yml"
      - "site/**"
      - "**/*.schema.json"
      - "*.schema.json"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  # Regenerate site every Sunday
  # https://crontab.guru/#36_3_*_*_0
  schedule:
    - cron: 36 3 * * 0

# Allow one concurrent deployment
concurrency:
  group: pages-${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 #v6.1.0
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: pip install -r site/requirements.txt

      - name: Build Documentation
        run: python site/publish.py

      - name: Upload artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: _build

  deploy:

    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request' && github.ref == 'refs/heads/main'
    needs: [build]

    # Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
    permissions:
      contents: read
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
